body {
    background-color: #fff;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-item-table-wrapper {
    width: 100%;
}

.menu-item-table {
    width: 100%;
    border-collapse: collapse;
}

.menu-item-table > thead {
    background-color: beige;
}

.menu-category-header {
    background-color: #501616;
    color: #ffffff;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.price-td {
    text-align: center;
}

.cookie-selection-tr {
    border-bottom-style: dashed;
    border-bottom-color: #eeeeee;
    border-bottom-width: 1pt;
}

.menu-item-description-td {
    text-align: center;
}

nav {
    background-color: #e6f2ff;
    padding: 10px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline;
}

.from-the-oven-div {
    text-align: center;
}

.from-the-oven-div > h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #501616;
}